@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", sans-serif;
  margin: 0;
}

.container {
  width: 1277px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  background-image: url("/img_desktop_1x_png/hero_bg_desktop-2x-png.png");
  background-size: cover;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-top: 38px;
}

.nav__item {
  margin-left: 62px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.header__logo {
  position: absolute;
  left: 28px;
  top: 28px;
}

.header__social-networks {
  list-style: none;
  display: flex;
  position: absolute;
  top: 38px;
  right: 141px;
  gap: 40px;
}

.hero__header {
  font-weight: 900;
  color: #ffffff;
  font-size: 120px;
  line-height: 130px;
  width: 267px;
}

.hero__button {
  width: 272px;
  height: 82px;
  background-color: #DD2242;
  color: #ffffff;
  border: 0;
  border-radius: 200px;
  font-weight: 700;
  font-size: 20px;
}

.view-offers {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7960784314);
  position: absolute;
  bottom: 0;
  width: 1636px;
  height: 210px;
}

.item__title {
  color: #ffffff;
}

.item__desc {
  color: #939393;
}

header {
  position: relative;
}

section {
  padding-top: 5%;
  min-height: 100vh;
  font-weight: 300;
  color: #2a3039;
  z-index: 1;
  position: relative;
  padding: 20px;
}

#mainnav {
  position: fixed;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.dotnav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dotnav > li {
  margin: 0;
  position: relative;
  width: 2px; /* Ширина прямокутника */
  height: 56px; /* Висота прямокутника */
  background-color: #fff; /* Сірий колір для звичайного стану */
  transition: all 0.3s ease;
}

.dotnav > li.active {
  width: 4px; /* Ширина активного прямокутника */
  background-color: #DD2242; /* Червоний колір для активного стану */
}

.dotnav > li {
  border-radius: 0; /* Скидаємо закруглення для прямокутників */
}

.vertical-text {
  writing-mode: vertical-rl; /* вертикальний текст зліва направо */
  /* або vertical-lr для вертикального тексту справа наліво */
  transform: rotate(180deg); /* Повертає текст для читання зверху вниз */
  white-space: nowrap; /* Забороняє перехід рядків */
  margin-top: 20px;
  color: #fff;
}

.vertical-icon-wrap {
  margin-top: 239px;
}

.vertical-icon__text {
  writing-mode: vertical-rl; /* вертикальний текст зліва направо */
  /* або vertical-lr для вертикального тексту справа наліво */
  transform: rotate(180deg); /* Повертає текст для читання зверху вниз */
  white-space: nowrap; /* Забороняє перехід рядків */
  margin-top: 25px;
}

.vertical-icon__link {
  color: #fff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical-icon__link:hover {
  color: #DD2242;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-and-numbers {
  height: auto;
  background-image: url("/img_desktop_1x_png/explore-our-secrets_bg_desktop-1x-png.png");
  background-size: contain;
}

.explore-our-secrets-title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  margin-top: 127px;
}

.map {
  background-image: url(../../img_desktop_1x_png/map_bg_desktop-1x-png.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}
.map__header {
  font-family: "DM Sans";
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  color: black;
  width: 614px;
  margin: 0 auto;
  text-align: center;
  padding-top: 249px;
}
.map__desc {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #6F7787;
  width: 470px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}
.map__btn {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
  width: 210px;
  height: 64px;
  border: none;
  border-radius: 122px;
  background-color: #DD2242;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 36px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.map__btn:hover {
  background-color: #C1213D;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.video {
  background-image: url(../../img_desktop_1x_png/hugo-matilla-EFuCATqfblI-unsplash.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}

.video__header {
  font-family: "DM Sans";
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  width: 1056px;
  text-align: center;
  margin: 130px auto;
}

.video__preview-big {
  display: block;
  margin: 0 auto;
}

.peview__wrap {
  display: flex;
  justify-content: space-between;
  margin: 125px auto;
  margin-left: 120px;
  width: 1284.74px;
  height: 151px;
}
.peview__wrap .peview-left__wrap {
  display: flex;
}
.peview__wrap .peview-left__wrap .preview-text__wrap-left {
  display: flex;
  flex-wrap: wrap;
  margin-left: 42px;
}
.peview__wrap .peview-left__wrap .preview-text__wrap-left .preview__desc-left {
  width: 334px;
  letter-spacing: 1px;
}
.peview__wrap .peview-right__wrap {
  display: flex;
}
.peview__wrap .peview-right__wrap .preview-text__wrap-right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.peview__wrap .peview-right__wrap .preview-text__wrap-right .preview__desc-right {
  width: 323px;
  letter-spacing: 1.5px;
}
.peview__wrap .preview__title {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  color: white;
}
.peview__wrap .preview__desc {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  opacity: 70%;
  width: 334px;
  text-align: left;
}

.getting-there {
  background-color: #DCE8F2;
  padding: 119px 0 117px 0;
}

.getting-there__header {
  font-family: "DM Sans";
  font-size: 60px;
  line-height: 150%;
  font-weight: bold;
}

.getting-there__item {
  padding-top: 80px;
}

.text-wrap {
  max-width: 1038px;
  padding-top: 28px;
  vertical-align: top;
  display: inline-block;
}

.step-img {
  margin-right: 45px;
}

.step__title {
  font-family: "DM Sans";
  font-size: 26.4px;
  line-height: 41.1px;
  font-weight: bold;
}

.step__desc {
  font-family: "DM Sans";
  font-size: 23px;
  line-height: 162%;
  font-weight: 400;
  color: rgba(21, 20, 57, 0.4);
}

.tavelling-there {
  margin-left: 105px;
  padding-top: 93px;
}

.travelling-there__text-wrap {
  max-width: 446px;
  padding-left: 45px;
  vertical-align: top;
  display: inline-block;
}

.travelling-there__title {
  font-family: "DM Sans";
  font-size: 26.4px;
  line-height: 41.1px;
  font-weight: bold;
}

.travelling-there__desc {
  font-family: "DM Sans";
  font-size: 23px;
  line-height: 162%;
  font-weight: 400;
  color: rgba(21, 20, 57, 0.4);
}

.getting-there__btn {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  padding: 18px 56px;
  color: #ffffff;
  background-color: #DD2242;
  border: none;
  border-radius: 122px;
  margin-left: 105px;
  margin-top: 35px;
}