* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", sans-serif;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  background-image: url("/img/img_desktop_2x_png/hero_bg_descktop-2x-png.png");
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.nav__item {
  margin-left: 10px;
}

.hero__header {
  font-weight: 900;
  color: #ffffff;
  font-size: 120px;
  width: 267px;
}