* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans';
    margin: 0;
}

.container {
    width: 1433px;
    margin: 0px auto;
    padding: 0px 15px;
}

//variables
@import "./untills/variables";
@import "./components/text-styles";

// main page webstudio
@import "./components/header";
@import "./components/hero";
@import "./components/scrollspy.scss";
@import "./components/articles";
@import "./components/explore-and-numbers";
@import "./components/map";
@import "./components/video";
@import "./components/photo-gallery";
@import "./components/getting-there";
@import "./components/footer";

// adaptive layout
@import "./untills/adaptive-layaut";