* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans';
    margin: 0;
}

.container {
    width: 1277px;
    margin: 0px auto;
    padding: 0px 15px;
}


//variables
@import "./untills/variables";

// main page webstudio
@import "./components/header";
@import "./components/hero";
@import "./components/scrollspy.scss";
@import "./components/articles";
@import "./components/explore-and-numbers";
@import "./components/map";
@import "./components/video";
@import "./components/photo-gallery";
@import "./components/getting-there";
@import "./components/footer";

// adaptive layout
@import "./adaptiv-layaut/header-adapting";
@import "./adaptiv-layaut/hero-adapting";
@import "./adaptiv-layaut/scrollspy-adapting";
@import "./adaptiv-layaut/articles-adapting";
@import "./adaptiv-layaut/explore-and-numbers-adapting";
@import "./adaptiv-layaut/map-adapting";
@import "./adaptiv-layaut/video-adapting";
@import "./adaptiv-layaut/photo-gallery-adapting";
@import "./adaptiv-layaut/getting-there-adapting";
@import "./adaptiv-layaut/footer-adapting";
@media (max-width: 1300px) {
    .container {
      max-width: 1140px;
    }
  }
  
  /* Large: 992px - 1199px */
  @media (max-width: 1199px) {
    .container {
      max-width: 960px;
    }
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .container {
      max-width: 720px;
    }
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .container {
      max-width: 540px;
    }
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .container {
      padding: 0 15px;
    max-width: 100%;
    }
    .explore-our-secrets-img-wrap {
        display: flex;
        justify-content: center;
        gap: 9px;
    }
    .explore-our-secrets-img {
        display: none;
    }
    img {
        width: 314px;
    }
    .icon {
        width: 170px;
    }
   .statistic {
    display: flex;
    flex-direction: column;
   }
   .by-the-numbers {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 0;
   }
    .by-the-numbers_title-wrap {
        display: flex;
        flex-direction: column;
    }
    .by-the-numbers__title-desc {
        width: 314px;
    }
    .statistic__item {
        text-align: center;
    }
   .statistic__title {
    width: 314px;
   }
   .statistic__desc {
    width: 314px;
   }
  }
