.explore-and-numbers {
    height: auto;
    background-image: url('/img_desktop_1x_png/explore-our-secrets_bg_desktop-1x-png.png');
    background-size: cover;
}
.explore-our-secrets-title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    margin-top: 127px;
}