.getting-there{
    background-color: $getting-there-bg;
    padding: 119px 0 117px 0;
}
.getting-there__header{
    @include H2;
}
.getting-there__item {
    padding-top: 80px;
}
.text-wrap{
    max-width: 1038px;
    padding-top: 28px;
    vertical-align: top;
    display: inline-block;
}
.step-img{
    margin-right: 45px;
}
.step__title{
    @include H4;
}
.step__desc{
    font-family: 'DM Sans';
    font-size: 23px;
    line-height: 162%;
    font-weight: 400;
    color: rgba(21, 20, 57, 0.4);
}
.tavelling-there{
    margin-left: 105px;
    padding-top: 93px;
}
.travelling-there__text-wrap{
    max-width: 446px;
    padding-left: 45px;
    vertical-align: top;
    display: inline-block;}
.travelling-there__title{
    @include H4;
}
.travelling-there__desc{
    font-family: 'DM Sans';
    font-size: 23px;
    line-height: 162%;
    font-weight: 400;
    color: rgba(21, 20, 57, 0.4);
}
.getting-there__btn{
    @include CTA;
    padding: 18px 56px;
    color: $main;
    background-color: $main-red;
    border: none;
    border-radius: 122px;
    margin-top: 35px;
    cursor: pointer;
}


