.header {
    background-image: url('/img/img_desktop_2x_png/hero_bg_descktop-2x-png.png');
    background-size: cover;
    position: relative;
}
.nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.nav__item {
    margin-left: 62px;
    color: $main;
    font-size: 18px;
    font-weight: 700;
}