.header {
    background-image: url('../img_desktop_1x_png/hero_bg_desktop-2x-png.png');
    background-size: cover;
    position: relative;
}
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-top: 38px;
    margin-bottom: 195px;
}
.nav__item {
    margin-left: 62px;
    color: $main;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 150%;
    font-weight: bold;

}
.header__logo {
   position: absolute;
   left: 60px;
   top: 28px;
}
.header__social-networks {
    list-style: none;
    display: flex;
    position: absolute;
    top: 38px;
    right: 141px;
    gap: 40px;
}


