//SCROLLSPY styles

header {    
    position: relative;             
}

section {
    padding-top: 5%;
    font-weight: 300;
    color: #2a3039;
    z-index: 1;
    position: relative;
    padding: 20px;
}

#mainnav {
    position: fixed;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.dotnav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dotnav > li {
    margin: 0;
    position: relative;
    width: 2px; /* Ширина прямокутника */
    height: 56px; /* Висота прямокутника */
    background-color: #fff; /* Сірий колір для звичайного стану */
    transition: all 0.3s ease;
}

.dotnav > li.active {
    width: 4px; /* Ширина активного прямокутника */
    background-color: #DD2242; /* Червоний колір для активного стану */
}

.dotnav > li {
    border-radius: 0; /* Скидаємо закруглення для прямокутників */
}

//текст

.vertical-text{
    writing-mode: vertical-rl; /* вертикальний текст зліва направо */
    /* або vertical-lr для вертикального тексту справа наліво */
    transform: rotate(180deg); /* Повертає текст для читання зверху вниз */
    white-space: nowrap; /* Забороняє перехід рядків */
    margin-top: 20px;
    color: #fff;

}

.vertical-icon-wrap{
    margin-top: 239px;
}

.vertical-icon__text{
    writing-mode: vertical-rl; /* вертикальний текст зліва направо */
    /* або vertical-lr для вертикального тексту справа наліво */
    transform: rotate(180deg); /* Повертає текст для читання зверху вниз */
    white-space: nowrap; /* Забороняє перехід рядків */
    margin-top: 25px;
}

.vertical-icon__link{
    color: #fff;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical-icon__link:hover{
    color: #DD2242;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

